<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_management_root"
              name="Management"
              sequence="10"/>

    <menuitem id="menu_management_block_events"
              name="Create events"
              parent="menu_management_root"
              sequence="10"/>

    <menuitem id="menu_management_operations"
              name="Invite participants"
              parent="menu_management_root"
              groups="org_management.group_event_organizer,org_management.group_admin"
              sequence="10"/>
</odoo>
